*{margin:25px ;}

body{font-family:tahoma;background-color: aquamarine;
}

h1{
    padding: 10px;
    border: 15px;
    border-style: solid;
    border-radius: 25px;
    color:blueviolet;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
}
p{
    background-color: beige;
    color: darkblue;
    text-align: justify ;
}
img{width: 45%;}